<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Alunos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Lista de alunos</h1>
        <h3>Total de alunos: {{ total_alunos }}</h3>
        {% for alunos in alunos %}
        <div class="card">
            <h2>{{alunos.nome}}</h2>
            <h3 class="genero">Idade: {{ alunos.idade}}</h3>
            <h3 class="nivel">Plano: {{ alunos.plano }} </h3>
        </div>
        {% endfor %}

        <a class="botao" href="/">Página Inicial</a>
        <a class="botao" href="/treinos.html">Ver Treinos</a>
    </div>
</body>
</html>
