<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial - Menu de Treinos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container centralizado">
        <img src="static/smart-fit (1).png" alt="">
        <h1> SMART FIT</h1>


        <div class="botoes">
            <a class="botao" href="/alunos.html">👥 Ver Alunos</a>
            <a class="botao" href="/treinos.html">🏋️‍♀️ Ver Treinos</a>
        </div>
    </div>
</body>
</html>