<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Novo Filme</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='novo.css') }}">
</head>

<body>
    <h1>🎬 Cadastrar Novo Filme</h1>

    <form method="POST" action="salvar-filme">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required>

        <label for="genero">Gênero:</label>
        <input type="text" id="genero" name="genero" required>

        <label for="ano">Ano:</label>
        <input type="number" id="ano" name="ano" required>

        <label for="avaliacao">Avaliação:</label>
        <input type="number" step="0.1" max = 10 id="avaliacao" name="avaliacao" required>

        <button type="submit">Salvar</button>
    </form>

    <a href="/">Voltar</a>
</body>

</html>