<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Filmes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <h1>Catálogo de Filmes</h1>
    <div class = "container">
        {% for filme in filmes %}
            <div class = "filme">
                <h3>{{ filme.titulo }}</h3>
                <p><strong>Gênero: </strong>{{ filme.genero }}</p>
                <p><strong>Ano: </strong>{{ filme.ano }}</p>
                <p><strong>Avaliação: </strong>{{filme.avaliacao }}</p>
                <p><strong>Gênero: </strong>{{ filme.genero }}</p>
            </div>
        {% endfor %}

    </div>
    <a href="/novo">Cadastrar novo filme</a>

</body>
</html>