<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Filmes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Lista de Filmes</h1>
        {% for filme in filmes %}
        <div class="card">
            <h2>{{filme.titulo}}</h2>
            <h3 class="genero">Gênero: {{ filme.genero}}</h3>
            <h3 class="ano">Ano: {{ filme.ano}}</h3>
            <h3 class="avaliacao">
            <span class="{% if filme.avaliacao >= 7 %}avaliacao-alta {% else %}avaliacao-baixa{% endif %}"></span>
            Avaliação: {{ filme.avaliacao}}
            </h3>
        </div>
        {% endfor %}

        <a class="botao" href="/">Página Inicial</a>
        <a class="botao" href="/salas.html">Ver Salas</a>
    </div>
</body>
</html>
